{% extends "partitial/base.html" %}
{% block 'auth-box' %}
{% include 'elements/auth-box.html' %}
{% endblock 'auth-box' %}
{% block main %}
<div class='d-flex flex-column'>
    <div class='d-flex flex-row align-items-center gap-5'>
        <h1>Новые вопросы</h1>
        <a href="" style='font-size: large'>Самые популярные</a>
    </div>
    <div class='mt-4 d-flex flex-column gap-5'>
        {% for item in questions %}
        <div class='d-flex flex-row gap-3 box'>
            <div class='d-flex flex-column gap-2'>
                <div class='avatar'></div>
                <div class='d-flex flex-row gap-2 align-items-center'>
                    <i class="bi bi-award" style='font-size: x-large;'></i>
                    <span>15</span>
                </div>
            </div>
            <div class='container-fluid d-flex flex-column'>
                <a href="{% url 'question' %}" style='font-size: x-large'>{{item.title}}</a>
                <p>{{item.text}}</p>
                <div class='d-flex flex-row justify-content-between'>
                    <a href="">Ответы (3)</a>
                    <div class='d-flex flex-row gap-2'>
                        <span>Теги:</span>
                        <a href="{% url 'tag' %}">C#</a>
                        <a href="">Python</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example" class='mt-5'>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for page in pages %}
          <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{page}}">{{page}}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
</div>
{% endblock main %}
