{% extends 'partitial/base.html' %}
{% block 'auth-box' %}
{% include 'elements/sign-box.html' %}
{% endblock 'auth-box' %}
{% block main %}
<div class="container-sx">
    <h2 class="mb-4">Войти</h2>
    <div class="alert alert-danger" role="alert">
        Что-то пошло не так
    </div>
    <div class="d-flex flex-column gap-3">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping" style="width: 120px;">Логин</span>
            <input type="text" class="form-control" id="nickname">
        </div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping" style="width: 120px;">Пароль</span>
            <input type="text" class="form-control" id="nickname">
        </div>
        <button class="btn btn-success align-self-end" style="width: 200px;">Войти</button>
        <a class="align-self-end" href="{% url 'signup' %}">Зарегистрироваться</a>
    </div>
</div>
{% endblock main %}