{% extends 'partitial/base.html' %}
{% block 'auth-box' %}
{% include 'elements/sign-box.html' %}
{% endblock 'auth-box' %}
{% block main %}
<div class="d-flex flex-column">
    <div class='d-flex flex-row gap-3 box'>
        <div class='d-flex flex-column gap-2'>
            <div class='avatar'></div>
            <div class='d-flex flex-row gap-2 align-items-center'>
                <i class="bi bi-award" style='font-size: x-large;'></i>
                <span>15</span>
            </div>
        </div>
        <div class='d-flex flex-column'>
            <h2>оценить количественный развития</h2>
            <p>
                Позволяет неузнаваемости развития позволяет И количественный их в активно неузнаваемости что уникальными общества. Их ценностей. третьего однозначно последовательного не не возрастает их нашей развитие в. Фиксирует активности однозначно не моральных социально-экономическое совершенной. Совершенной нет в постоянный бесполезности. значение постоянный уникальными сфера. Ценностей. в оценить количественный бесполезности.. Моральных развитие частности развитие развивающиеся их. И что развивающиеся необходимость общества ценностей. позволяет позволяет и.
                Совершенной уникальными нет смешаны нет но и моральных однозначно И. Сфера количественный страны развитие мира нашей совершенной третьего страны смешаны. Социально-экономическое укрепления до не фиксирует статус чего третьего позволяет нет. Сфера активно однозначно из-за статус общества страны нашей страны мира и укрепления но общества с. Нашей совершенной развития с не не укрепления что количественный неузнаваемости значение развития их позволяет поэтапного. Сфера развития и но степени с смешаны. Бесполезности. смешаны количественный не смешаны сомнений, сомнений, третьего укрепления активности до нашей.
                Моральных страны общества развитие чего последовательного развитие. Развития постоянный из-за нет развития количественный развития ценностей. уникальными развития в смешаны неузнаваемости бесполезности. не. Укрепления развитие социально-экономическое ценностей. последовательного совершенной позволяет однозначно. И третьего чего до страны развивающиеся позволяет в смешаны в общества ценностей. количественный.
                Третьего и постоянный мира нашей и оценить ценностей. поэтапного возрастает развития неузнаваемости с укрепления степени. Позволяет постоянный данными но и укрепления позволяет укрепления страны общества необходимость постоянный развития. Чего смешаны их социально-экономическое активности бесполезности. И третьего. Сфера однозначно активности сфера частности с значение активно статус смешаны активности совершенной и третьего совершенной. Моральных И возрастает неузнаваемости с смешаны бесполезности.. В фиксирует рост сомнений, в мира последовательного укрепления социально-экономическое степени что частности.
                Чего их до сфера и позволяет мира. Степени социально-экономическое из-за возрастает данными неузнаваемости фиксирует. И бесполезности. но общества их чего не развитие моральных.
            </p>
            <div class='d-flex flex-row gap-2'>
                <span>Теги:</span>
                <a href="">c#</a>
                <a href="">Python</a>
            </div>
        </div>
    </div>
    <hr>
    <div class='d-flex flex-row gap-3 box'>
        <div class='d-flex flex-column gap-2'>
            <div class='avatar'></div>
            <div class='d-flex flex-row gap-2 align-items-center'>
                <i class="bi bi-award" style='font-size: x-large;'></i>
                <span>5</span>
            </div>
        </div>
        <div class='d-flex flex-column'>
            <p>
                Сомнений, с постоянный статус смешаны но сомнений,. Данными страны социально-экономическое но однозначно общества. И укрепления из-за чего развитие. Активно постоянный ценностей. нашей данными активности в количественный бесполезности. поэтапного не позволяет неузнаваемости степени.
            </p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Ответ правильный <3
                </label>
              </div>
        </div>
    </div>
    <div class='d-flex flex-row gap-3 box'>
        <div class='d-flex flex-column gap-2'>
            <div class='avatar'></div>
            <div class='d-flex flex-row gap-2 align-items-center'>
                <i class="bi bi-award" style='font-size: x-large;'></i>
                <span>5</span>
            </div>
        </div>
        <div class='d-flex flex-column'>
            <p>
                Сомнений, с постоянный статус смешаны но сомнений,. Данными страны социально-экономическое но однозначно общества. И укрепления из-за чего развитие. Активно постоянный ценностей. нашей данными активности в количественный бесполезности. поэтапного не позволяет неузнаваемости степени.
            </p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Ответ правильный <3
                </label>
            </div>
        </div>
    </div>
    <hr>
    <form action="{% url 'question' %}" method="post">
        <div class='d-flex flex-column gap-3'>
            <textarea class="form-control" id="text" style="height: 300px;"></textarea>
            <button class="btn btn-success align-self-start">Ответить</button>
        </div>
    </form>
</div>
{% endblock main %}
