{% extends 'partitial/base.html' %}
{% block 'auth-box' %}
{% include 'elements/auth-box.html' %}
{% endblock 'auth-box' %}
{% block main %}
<div class="container-fluid d-flex flex-column gap-3">
    <h2>Тег: C#</h2>
    <div class='d-flex flex-row gap-3 box'>
        <div class='d-flex flex-column gap-2'>
            <div class='avatar'></div>
            <div class='d-flex flex-row gap-2 align-items-center'>
                <i class="bi bi-award" style='font-size: x-large;'></i>
                <span>15</span>
            </div>
        </div>
        <div class='d-flex flex-column'>
            <a href="{% url 'question' %}" style='font-size: x-large'>оценить количественный развития</a>
            <p>не рост развития общества нашей общества уникальными рост постоянный однозначно</p>
            <div class='d-flex flex-row justify-content-between'>
                <a href="">Ответы (3)</a>
                <div class='d-flex flex-row gap-2'>
                    <span>Теги:</span>
                    <a href="{% url 'tag' %}">C#</a>
                    <a href="">Python</a>
                </div>
            </div>
        </div>
    </div>
    <div class='d-flex flex-row gap-3 box'>
        <div class='d-flex flex-column gap-2'>
            <div class='avatar'></div>
            <div class='d-flex flex-row gap-2 align-items-center'>
                <i class="bi bi-award" style='font-size: x-large;'></i>
                <span>63</span>
            </div>
        </div>
        <div class='d-flex flex-column'>
            <a href="" style='font-size: x-large'>laboris id</a>
            <p>Elit mollit consequat officia cupidatat velit qui cupidatat do veniam aliqua laboris. Culpa mollit esse irure esse quis enim culpa adipisicing ex aute. Aliquip non mollit pariatur incididunt nisi sint consequat magna aute qui enim ut. Sint duis cupidatat incididunt est magna culpa dolor culpa enim sint sunt exercitation laborum commodo. Sunt sint aliqua Lorem ipsum eiusmod adipisicing laborum ipsum labore esse ea fugiat deserunt cillum. Occaecat culpa elit aliqua dolore tempor laborum reprehenderit eiusmod mollit eu do consequat adipisicing aliqua. Et duis aliquip adipisicing cupidatat ex ut officia fugiat enim duis adipisicing.</p>
            <div class='d-flex flex-row justify-content-between'>
                <a href="">Ответы (13)</a>
                <div class='d-flex flex-row gap-2'>
                    <span>Теги:</span>
                    <a href="">C#</a>
                    <a href="">Python</a>
                    <a href="">F#</a>
                    <a href="">C++</a>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example" class='mt-2'>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
</div>
{% endblock main %}